header img{
    width: 50px;
    height: 50px;
}
header img:hover{
    filter: brightness(50%);
    transition: all 1s ease;
}
.logo{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.main {
    margin: auto;
    width: 30%;
}
.main label{
    display: flex;
    margin: 20px;
}
input, textarea{
    width: 250px;
    margin-left: 10px;
}

#submit:hover{
    background-color: aqua;
}
footer{
    margin-top: 20px;
    text-align: center;
}
.button {
    text-align: center;
}
nav{
    display: flex;
    flex-direction: column;
    border: solid black 2px;
    width: 10%;
}
nav a{
    text-decoration: none;
    width: auto;
}

nav a:hover{
    background-color: pink;
    transition: all 5s ease;
}

#contact, #index{
    background-color: lightblue;
}
.email,.name{
    margin-left: 19px;
}
body{
    padding: 30px;
}
input:active, textarea:active{
    background-color:  rgb(228, 14, 14);
    transition: all 0.1s ease;
}
h1{
    font-size: 30px;
}